body{
    background-color: hsl(212, 45%, 89%);
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.white-border{
    max-width: 320px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: block;
    text-align: center;
}
.qr-code{
    max-width: 90%;
    border-radius: 10px;
    margin: 5%;
}
h1{
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    margin: 0 2.5rem 0 2.5rem;
}
.info-text{
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-size: 0.90rem;
    margin: 1rem 2.5rem 2rem 2.5rem;
}
.footer {
    font-family: 'Outfit', sans-serif;
    font-size: 0.688rem;
    text-align: center;
}
.footer a {
    color: hsl(228, 45%, 44%);
}